In [8]:
import pandas as pd

pd.DataFrame({'Name':['Ismael', 'Ana', 'John'], 'Age':['19', '21','23']})

     Name Age
0  Ismael  19
1     Ana  21
2    John  23

In [10]:
reviews = pd.read_csv("C:/Users/ismae/Desktop/code_study/MeusProjetos/Python-3-studies/Meus-Estudos/novembro-2025/15.11/orders.csv", index_col=0)

In [20]:
reviews['Country'][1008]

'South Korea'

In [36]:
reviews.iloc[1:5]

,CustomerName,Product,Category,Quantity,Price,OrderDate,Shipped,Country
OrderID,,,,,,,,
1002,Sarah Lee,Headphones,Electronics,2,150.0,2024-06-03,No,Canada
1003,Ali Khan,Office Chair,Furniture,1,300.0,2024-06-04,Yes,UAE
1004,Alice Wong,Desk Lamp,Furniture,3,45.0,2024-06-05,Yes,Singapore
1005,Carlos Mendez,Keyboard,Electronics,2,80.0,2024-06-06,No,Mexico

In [ ]:
reviews.loc[:, ['Product', 'Quantity', 'Price']]

                       Product  Quantity   Price
OrderID
1001                    Laptop         1  1200.0
1002                Headphones         2   150.0
1003              Office Chair         1   300.0
1004                 Desk Lamp         3    45.0
1005                  Keyboard         2    80.0
1006                  Notebook         5     5.0
1007             Standing Desk         1   450.0
1008                   Monitor         2   220.0
1009                       Pen        10     1.5
1010                     Mouse         1    35.0
1011                    Webcam         1    85.0
1012              File Cabinet         2   180.0
1013                   Stapler         3    12.0
1014                 USB Drive         5    25.0
1015                 Bookshelf         1   280.0
1016             Printer Paper        20     8.0
1017            Wireless Mouse         2    45.0
1018            Desk Organizer         1    65.0
1019                Calculator         1    15.0
1020                Whiteboard         1   120.0
1021              Highlighters         8     3.5
1022         Bluetooth Speaker         1    95.0
1023              Office Plant         2    35.0
1024              Sticky Notes        15     4.0
1025              Tablet Stand         1    28.0
1026            Paper Shredder         1    75.0
1027            Desk Chair Mat         1    22.0
1028              Binder Clips        12     2.5
1029         Wireless Keyboard         1   110.0
1030             Desk Calendar         1    18.0
1031                   USB Hub         1    32.0
1032          Document Scanner         1   140.0
1033     Desk Drawer Organizer         1    42.0
1034               Index Cards       100     0.8
1035             Monitor Stand         1    55.0
1036        Desk Lamp with USB         1    68.0
1037          Wireless Earbuds         1   125.0
1038                  Desk Pad         1    28.0
1039               Power Strip         2    18.0
1040                Desk Clock         1    35.0

In [48]:
reviews.Country == 'USA'

OrderID
1001     True
1002    False
1003    False
1004    False
1005    False
1006    False
1007    False
1008    False
1009    False
1010    False
1011    False
1012    False
1013    False
1014    False
1015    False
1016    False
1017    False
1018     True
1019    False
1020    False
1021    False
1022    False
1023    False
1024    False
1025    False
1026    False
1027    False
1028    False
1029    False
1030    False
1031    False
1032    False
1033    False
1034     True
1035    False
1036    False
1037    False
1038    False
1039    False
1040    False
Name: Country, dtype: bool

In [61]:
reviews.loc[(reviews.Country == 'USA') | (reviews.Price >= 100.0)]

,CustomerName,Product,Category,Quantity,Price,OrderDate,Shipped,Country
OrderID,,,,,,,,
1001,John Smith,Laptop,Electronics,1,1200.0,2024-06-01,Yes,USA
1002,Sarah Lee,Headphones,Electronics,2,150.0,2024-06-03,No,Canada
1003,Ali Khan,Office Chair,Furniture,1,300.0,2024-06-04,Yes,UAE
1007,Emily Davis,Standing Desk,Furniture,1,450.0,2024-06-08,Yes,UK
1008,James Park,Monitor,Electronics,2,220.0,2024-06-09,No,South Korea
1012,Raj Patel,File Cabinet,Furniture,2,180.0,2024-06-13,No,India
1015,Lisa Chen,Bookshelf,Furniture,1,280.0,2024-06-16,No,China
1018,Michael Brown,Desk Organizer,Furniture,1,65.0,2024-06-19,No,USA
1020,Fatima Al-Zahra,Whiteboard,Furniture,1,120.0,2024-06-21,Yes,Saudi Arabia
1029,Seo-yeon Kim,Wireless Keyboard,Electronics,1,110.0,2024-06-30,Yes,South Korea
1032,Thomas Müller,Document Scanner,Electronics,1,140.0,2024-07-03,Yes,Germany
1034,Alex Johnson,Index Cards,Stationery,100,0.8,2024-07-05,Yes,USA
1037,Carlos Santos,Wireless Earbuds,Electronics,1,125.0,2024-07-08,Yes,Portugal

In [65]:
reviews.loc[reviews.Country.isin(['USA', 'Brazil', 'Mexico', 'China'])]

,CustomerName,Product,Category,Quantity,Price,OrderDate,Shipped,Country
OrderID,,,,,,,,
1001,John Smith,Laptop,Electronics,1,1200.0,2024-06-01,Yes,USA
1005,Carlos Mendez,Keyboard,Electronics,2,80.0,2024-06-06,No,Mexico
1015,Lisa Chen,Bookshelf,Furniture,1,280.0,2024-06-16,No,China
1018,Michael Brown,Desk Organizer,Furniture,1,65.0,2024-06-19,No,USA
1022,Isabella Silva,Bluetooth Speaker,Electronics,1,95.0,2024-06-23,Yes,Brazil
1034,Alex Johnson,Index Cards,Stationery,100,0.8,2024-07-05,Yes,USA

In [66]:
reviews['Product'] = 'Things'
reviews['Product']

OrderID
1001    Things
1002    Things
1003    Things
1004    Things
1005    Things
1006    Things
1007    Things
1008    Things
1009    Things
1010    Things
1011    Things
1012    Things
1013    Things
1014    Things
1015    Things
1016    Things
1017    Things
1018    Things
1019    Things
1020    Things
1021    Things
1022    Things
1023    Things
1024    Things
1025    Things
1026    Things
1027    Things
1028    Things
1029    Things
1030    Things
1031    Things
1032    Things
1033    Things
1034    Things
1035    Things
1036    Things
1037    Things
1038    Things
1039    Things
1040    Things
Name: Product, dtype: object

In [67]:
reviews['index_backwards'] = range(len(reviews), 0, -1)
reviews['index_backwards']

OrderID
1001    40
1002    39
1003    38
1004    37
1005    36
1006    35
1007    34
1008    33
1009    32
1010    31
1011    30
1012    29
1013    28
1014    27
1015    26
1016    25
1017    24
1018    23
1019    22
1020    21
1021    20
1022    19
1023    18
1024    17
1025    16
1026    15
1027    14
1028    13
1029    12
1030    11
1031    10
1032     9
1033     8
1034     7
1035     6
1036     5
1037     4
1038     3
1039     2
1040     1
Name: index_backwards, dtype: int64