In [1]:
import pandas as pd

pd.DataFrame({'Yes':[50, 21], 'No':[131, 2]})

   Yes   No
0   50  131
1   21    2

In [2]:
pd.DataFrame({'Bob':['I like it.', 'It was awful'], 'Sue':['Pretty good.', 'Bland.'] })

            Bob           Sue
0    I like it.  Pretty good.
1  It was awful        Bland.

In [3]:
pd.DataFrame({'Bob': ['I like it.', 'It was awful.'], 'Sue': ['Pretty good.', 'Bland.']}, index=['Product A', 'Product B'] )

                     Bob           Sue
Product A     I like it.  Pretty good.
Product B  It was awful.        Bland.

In [4]:
pd.Series([1, 2, 3, 4, 5])

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [6]:
pd.Series([30, 35, 40], index=['2015 Sales', '2016 Sales', '2017 Sales'], name='Product A')

2015 Sales    30
2016 Sales    35
2017 Sales    40
Name: Product A, dtype: int64

In [ ]:
orders = pd.read_csv("C:/Users/ismae/Desktop/code study/MeusProjetos/Python-3-studies/Meus-Estudos/novembro-2025/06.11/orders.csv", index_col=0)

orders.shape

(40, 9)

In [16]:
orders.head()

,OrderID,CustomerName,Product,Category,Quantity,Price,OrderDate,Shipped,Country
0,1001,John Smith,Laptop,Electronics,1,1200.0,2024-06-01,Yes,USA
1,1002,Sarah Lee,Headphones,Electronics,2,150.0,2024-06-03,No,Canada
2,1003,Ali Khan,Office Chair,Furniture,1,300.0,2024-06-04,Yes,UAE
3,1004,Alice Wong,Desk Lamp,Furniture,3,45.0,2024-06-05,Yes,Singapore
4,1005,Carlos Mendez,Keyboard,Electronics,2,80.0,2024-06-06,No,Mexico